body {
    font-family: Arial, sans-serif;
    background-color: #48284A;
}

#wordDisplay {
    letter-spacing: 10px;
    font-size: 2rem;
}
.worddisplayunderlines {
    background-color: #D2BCCB;
    color: #48284A;
    border: 3px solid #48284A;
    border-radius: 15px;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
img {
    height: 150%;
    width: auto;
}
.titlefont {
    font-size: 75px;
    text-decoration: underline;
    font-family: "video-cond", serif;
    font-weight: 700;
    font-style: normal;
}

.sdfont {
    font-size: 40px;
    text-decoration: underline;
}

.cardfont {
    font-family: "pollen-web", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

.card {
    width: 100%;
    margin: 20px auto;
    background-color: #916C8075;
    border: 5px solid #D2BCCB;
    color: #EADCE6;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonsdiv {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    color: #48284A;
    background-color: white;
    border: 2px solid #48284A;
}

.buttonsdiv:hover {
    background-color: #48284A;
    color: white;
    border: 2px solid white;
}

.usedletters {
    background-color: #48284A;
    border: 2px solid #D2BCCB;
    color: #EADCE6;
    border-radius: 15px;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 30px;
}

.usedletters p {
    margin: 0;
}

.attemptsremaining {
    background-color: #48284A;
    border: 2px solid #D2BCCB;
    color: #EADCE6;
    border-radius: 15px;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 30px;
}

.newgame {
    background-color: #48284A;
    border: 2px solid #D2BCCB;
    color: #EADCE6;
    border-radius: 15px;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 40px;
    font-weight: bolder;
    font-family: "video-cond", serif;
    font-style: normal;
}
.newgame:hover {
    background-color: #D2BCCB;
    border: 3px solid #48284A;
    color: #48284A;
}
.selectdifficulty {
    background-color: #48284A;
    border: 3px solid #D2BCCB;
    color: #EADCE6;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    font-family: "video-cond", serif;
}
.selectdifficulty:hover {
    background-color: #D2BCCB;
    border: 3px solid #48284A;
    color: #48284A;
}